langchain
python-dotenv
google.generativeai
langchain-google-genai
langchain-elasticsearch
langchain-openai
numexpr
wikipedia
langchain_community
langchain_core
rapidocr_onnxruntime
arxiv
pypdf
fastapi
pymongo[srv]
python-multipart
PyPDF2
beanie
python-jose[cryptography]
passlib
pydantic[email]
pydantic-settings