langchain
python-dotenv
langchain-google-genai
langchain-openai    
langchain_community
langchain_core
fastapi
pymongo[srv]
python-multipart
PyPDF2
beanie
python-jose[cryptography]
passlib
pydantic[email]
pydantic-settings
pytest 
pytest-asyncio
uvicorn[standard]
qdrant_client